* {
    padding: 0px;
    margin: 0px;
}

body {
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.navbar {
    height: 3rem;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navContainer {
    margin-right: 8rem;
    display: flex;
    gap: 1rem;
    font-size: larger;
}
.navContainer > a{
    text-decoration: none;
    color: #555;
}


.container{
    height: auto;
    width: 100%;
    margin-top: 5rem;
}
.landing{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10rem;
}
.imggallery{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.featuredProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardContainer{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.card{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
.card:hover{
    transform: translateY(-5px);
}



